<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    

    <title>Umbrella Man</title>
</head>

<body>
    <div class="outer">

        <div class="center item-bottom">
            <img src="../static/img/logooutlinebettercrop2.png" width="815px" height="815px">
        </div>
        <div class="item-top1 button1">
            <img src="../static/img/cornerbutton.png" width="210px" alt=""></a>
            <a class="item-topper1" href="/umbrella_man/videos">videos</a>
        </div>
        <div class="center item-top2">
            <div class="">
                <img src="../static/img/sidebutton.png" width="220px" alt=""></Links></a>
                <a class="item-topper2" href="https://linktr.ee/umbrellaman">links</a>
            </div>
        </div>
        <div class="item-top3">
            <img src="../static/img/sidebutton.png" width="220px" alt="">
            <a class="item-topper3" href="/umbrella_man/about">about</a>
        </div>
        <div class="item-top4">
            <img src="../static/img/sidebutton.png" width="220px" alt="">
            <a class="item-topper4"  href="/umbrella_man/store/signin">merch</a>
        </div>
        <div class="item-top5">
            <img src="../static/img/cornerbutton.png" width="210px" alt="">
            <a class="item-topper5" href="mailto:aeschlimanjeffrey@gmail.com">contact <span>me</span></a>
        </div>
        <div class="item-top6">
            <img src="../static/img/cornerbutton.png" width="210px" alt="">
            <a class="item-topper6" href="#">news <span>letter</span></a>
        </div>
        <div class="item-top7">
            <img src="../static/img/sidebutton.png" width="220px" alt="">
            <a class="item-topper7" href="/umbrella_man/discography">albums</a>
        </div>
        <div class="item-top8">
            <img src="../static/img/cornerbutton.png" width="210px" alt="">
            <a class="item-topper8" href="https://discord.gg/V2ATYVBVvJ">discord</a>
        </div>

    </div>
</body>

</html>