<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_video.css') }}">
    <title>Music Videos</title>
</head>
<body>
    <div class="header ">
        <div class="hide"><img src="../static/img/logobackbutton.png" width="200px" alt=""></div>
        <div class="gap">
            <a class="" href="https://linktr.ee/umbrellaman">links</a>
        </div>

        <h1><a href="/umbrella_man"><img src="../static/img/logobackbutton.png" width="200px" alt=""></a></h1>
    </div>

    <div class="outer">
        <div class="bottom-item">
            <img src="../static/img/panelbettercrop.png" width="1600px" height="800px" alt="">
        </div>
    
    <div class="video_align">

        <video  autoplay muted controls height="720" title="Sum of the Above">
            <source src="../static/img/sotavid.mp4">
        </video>
        <div class="overlay">
            <div class="myDiv">
                <p id="title">Sum of the Above</p>
                <div class="links">
                    <a href="https://www.youtube.com/watch?v=tOpAQTDA4vE">Youtube</a>
                    <a href="https://open.spotify.com/track/7pfHXHPJm2Lp5bwKTwwUn3?si=29c84f41d7744711">Spotify</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{{  url_for('static', filename='js/script_video.js') }}"></script>
</html>