<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_discog.css') }}">
    <title>Discography</title>
</head>
<body>
    <div class="header margin-top">
        <div class="hide"><img src="../static/img/logobackbutton.png" width="200px" alt=""></div>
            <div class="outer">
                <div class="item-bottom">
                    <img src="../static/img/headermemeblu.png" alt="">
                    
                </div>
                <div class="item-top">
                    <p class="">about</p>
                </div>
                <div class="item-top3">
                    <a href="https://linktr.ee/umbrellaman">links</a>

                </div>
            </div>

            <div class="outer">
                <h1 class="item-bottom"><img src="../static/img/logobuttonpurp.png" width="200px" alt=""></h1>

                <div class="item-toplogo">
                    <a href="/umbrella_man"><img src="../static/img/logobackbuttoncropped.png" width="140px" alt=""></a>
                </div>
            </div>
    </div>
    <div class="title">
        <img src="../static/img/nalogomememem.png" width="360px" alt="">
    </div>
    <div class="container outer">
        <div class="na item-bottom">
            <img src="../static/img/panelbettercrop.png" width="40%" alt="">
        </div>
        <div class="item-top1">
            <a href="https://open.spotify.com/album/4Wmxm0gwacJaSUqqfG9aHP?si=9J1FIk8dRROlWXG53mAldQ"><img src="../static/img/nacover.png" width="540px" alt=""></a>
        </div>
        <div class="item-top4">
            <img src="../static/img/nadescription2.png" width="750px" alt="">
            <img src="../static/img/nadescription1.png" width="375px" alt=""> 
    
        </div>
    </div>
    <div class="title2">
        <img src="../static/img/noonecareslogoenegneg'.png" width="400px" alt="">
    </div>
    <div class="outer">

        <div class="noc item-bottom2">
            <img src="../static/img/panelbettercrop.png" width="40%" alt="">
        </div>
        <div class="item-top2">
            <a href="https://open.spotify.com/album/5WUA71hSoWCmsLqxCtlcW5?si=3V9lAnkmR8-EKkGSK-iqxg"><img src="../static/img/noonecaresspotify.png" width="540px"  alt=""></a>
        </div>
        <div class="item-top5">
            <img src="../static/img/noonecaresdescription2.png" width="750px" alt="">
            <div class=""><img src="../static/img/noonecaresdescription1.png" width="375px" alt=""></div>
    
        </div>
    </div>
</body>
</html>