<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_discog.css') }}">
    <title>Discography</title>
</head>
<body>
    <div class="header">
        <div class="hide"><img src="../static/img/logobackbutton.png" width="200px" alt=""></div>
        <div class="gap">
            <a href="https://linktr.ee/umbrellaman">Links</a>
        </div>

        <h1><a class="" href="/umbrella_man"><img src="../static/img/logobackbutton.png" width="200px" alt=""></a></h1>
    </div>
    <div class="title">
        <img src="../static/img/nalogomememem.png" width="360px" alt="">
    </div>
    <div class="container outer">
        <div class="na item-bottom">
            <img src="../static/img/panelbettercrop.png" width="40%" alt="">
        </div>
        <div class="item-top1">
            <a href="https://open.spotify.com/album/4Wmxm0gwacJaSUqqfG9aHP?si=9J1FIk8dRROlWXG53mAldQ"><img src="../static/img/nacover.png" width="540px" alt=""></a>
        </div>
    </div>
    <div class="title2">
        <img src="../static/img/noonecareslogoenegneg'.png" width="400px" alt="">
    </div>
    <div class="outer">

        <div class="noc item-bottom2">
            <img src="../static/img/panelbettercrop.png" width="40%" alt="">
        </div>
        <div class="item-top2">
            <a href="https://open.spotify.com/album/5WUA71hSoWCmsLqxCtlcW5?si=3V9lAnkmR8-EKkGSK-iqxg"><img src="../static/img/noonecaresspotify.png" width="540px"  alt=""></a>
        </div>
    </div>
</body>
</html>