<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_video.css') }}">
    <title>Music Videos</title>
</head>

<body>
    <div class="header ">
        <div class="hide"><img src="../static/img/logobackbutton.png" width="200px" alt=""></div>
        <div class="gap">
            <a class="" href="https://linktr.ee/umbrellaman">links</a>
        </div>

        <h1><a href="/umbrella_man"><img src="../static/img/logobackbutton.png" width="200px" alt=""></a></h1>
    </div>

    <div class="outer">
        <div class="item-bottom">
            <img src="../static/img/panelbettercrop.png" width="1600px" height="800px" alt="">
        </div>

        <div class="video_align item-top">
            <iframe width="1100" height="619" src="https://www.youtube.com/embed/tOpAQTDA4vE?autoplay=1&mute=1"
                title="umbrella man - sum of the above (official video)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

</body>
<script src="{{  url_for('static', filename='js/script_video.js') }}"></script>

</html>