<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_about.css') }}">
    <title>About Umbrella Man</title>
</head>

<body>
    <div class="header margin-top">
        <div class="hide"><img src="../static/img/logobackbutton.png" width="200px" alt=""></div>
            <div class="outer">
                <div class="item-bottom">
                    <img src="../static/img/headermemeblu.png" alt="">
                    
                </div>
                <div class="item-top">
                    <p class="">about</p>
                </div>
                <div class="item-top3">
                    <a href="https://linktr.ee/umbrellaman">links</a>

                </div>
            </div>

            <div class="outer">
                <h1 class="item-bottom"><img src="../static/img/logobuttonpurp.png" width="200px" alt=""></h1>

                <div class="item-toplogo">
                    <a href="/umbrella_man"><img src="../static/img/logobackbuttoncropped.png" width="140px" alt=""></a>
                </div>
            </div>
    </div>

    <div class="container">
        <div class=""><img src="../static/img/texturedblurb3.png" width="550px" alt=""></div>
        <div class=""><img src="../static/img/picofyourstruly1.png" height="480px" alt=""></div>
        <div class=""><img src="../static/img/texturedblurb4.png" width="500px" alt=""></div>
        <div class=""><img src="../static/img/texturedblurb1.png" width="500px" alt=""></div>
        <div class=""><img src="../static/img/texturedblurb2.png" width="500px" alt=""></div>
    </div>

</body>

</html>